# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3

# Static & Media Directories
staticfiles/
media/
static/css/style.css.map

# Virtual Environments
venv/
.venv/
env/
ENV/

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
